RewriteEngine on

RewriteRule ^home$ media2.php?module=home [L]
RewriteRule ^profil-kami\.html$ media2.php?module=profilkami&id=$1 [L]
RewriteRule ^cara-pembelian\.html$ media2.php?module=carabeli&id=$1 [L]
RewriteRule ^produk-(.*)\.html$ media2.php?module=detailproduk&id=$1 [L]
RewriteRule ^keranjang-(.*)\.html$ media2.php?module=keranjangbelanja&id=$1 [L]
RewriteRule ^selesai-(.*)\.html$ media2.php?module=selesaibelanja&id=$1 [L]
RewriteRule ^kategori-([0-9]+)-(.*)\.html$ media2.php?module=detailkategori&id=$1 [L]
RewriteRule ^halkategori-([0-9]+)-(.*)\.html$ media2.php?module=detailkategori&id=$1&halkategori=$2 [L]
RewriteRule ^simpan-transaksi\.html$ media2.php?module=simpantransaksi&id=$1 [L]
RewriteRule ^transaksi-member\.html$ media2.php?module=transaksimember&id=$1 [L]
RewriteRule ^hubungi-kami\.html$ media2.php?module=hubungikami&id=$1 [L]
RewriteRule ^hubungi-aksi\.html$ media2.php?module=hubungiaksi&id=$1 [L]
RewriteRule ^semua-produk\.html$ media2.php?module=semuaproduk&id=$1 [L]
RewriteRule ^halproduk-(.*)\.html$ media2.php?module=semuaproduk&halproduk=$1 [L]
RewriteRule ^hasil-pencarian\.html$ media2.php?module=hasilcari&id=$1 [L]
RewriteRule ^statis-(.*)\.html$ media2.php?module=halamanstatis&id=$1 [L]
RewriteRule ^daftar-member\.html$ media2.php?module=daftarmember&id=$1 [L]
RewriteRule ^daftar-aksi\.html$ media2.php?module=daftaraksi&id=$1 [L]
RewriteRule ^edit-member\.html$ media2.php?module=editmember&id=$1 [L]
RewriteRule ^lupa-password\.html$ media2.php?module=lupapassword&id=$1 [L]
RewriteRule ^data-transaksi\.html$ media2.php?module=datatransaksi&id=$1 [L]
RewriteRule ^konfirmasi-pembayaran\.html$ media2.php?module=konfirmasipembayaran&id=$1 [L]
RewriteRule ^konfirmasi-aksi\.html$ media2.php?module=konfirmasiaksi&id=$1 [L]
Options All -Indexes
